<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
    <button v-on:click="show = !show">Show / Hide</button>
    <p v-if="show">I am part-time visible!</p>
    <p v-else>Am I visible?</p>
    <p v-show="show">Yep, I am here</p>
<!--    v-show does not remove elements from the DOM-->
    <hr>
<!--    {{persons[0].name}} - replaced by v-for(reactive)-->
    <ul>
        <li v-for="(person, index) in persons">{{person.name}} - {{index+1}}</li>
    </ul>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      show: true,
      persons: [
        {name: 'Valery', age: 20},
        {name: 'Irina', age: 21},
        {name: 'Dima', age: 22}
      ]
    }
  });
</script>
